* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Bitter', serif;
}

* h2 {
  font-size: 1.2rem;
}

* p {
  font-size: .9rem;
}

#root {
  background: #15171B;
  background-size: cover;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 33% 33% 33%;
      grid-template-columns: 33% 33% 33%;
  place-content: center;
  min-height: 10vh;
  background-color: rgba(0, 0, 0, 0.85);
  color: darkgrey;
  border-bottom: solid 2px black;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

header .titulo-header {
  color: red;
  text-decoration: none;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

header .titulo-header h2 {
  text-transform: uppercase;
}

header .titulo-header:hover {
  color: darkred;
}

header .busqueda {
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: darkgray;
  text-decoration: none;
  text-transform: uppercase;
  padding-top: .6rem;
}

header .busqueda i {
  margin-right: .3rem;
}

header .busqueda:hover {
  color: gray;
}

header nav {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-right: 1rem;
}

header nav ul li {
  list-style: none;
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-top: .6rem;
}

header nav a {
  color: darkgrey;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
}

header nav a:hover {
  color: gray;
}

main .home-fondo {
  padding-top: 2rem;
  min-height: 100vh;
  background-size: cover;
  text-align: center;
}

main .home-fondo h2 {
  color: darkgrey;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3rem;
}

main .home-fondo h3 {
  color: darkgrey;
  text-align: center;
  margin-bottom: 2rem;
}

main .home-fondo .comienza {
  text-decoration: none;
  margin: 0.3rem;
  border: solid 1px black;
  color: #15171B;
  background-color: gray;
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

main .home-fondo .comienza:hover {
  color: gray;
  background-color: #303030;
}

main .home-fondo .explicacion {
  margin: 1rem;
  color: darkgrey;
  min-height: 30vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

main .home-fondo .explicacion h2 {
  margin-bottom: 2rem;
}

main .home-fondo .div-form {
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 2rem 0;
}

main .home-fondo .div-form form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

main .home-fondo .div-form form input {
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  border: none;
  border-bottom: solid 1px darkgray;
  background: none;
  color: darkgray;
}

main .home-fondo .div-form form button {
  margin: 0.3rem;
  border: solid 1px black;
  background-color: gray;
  padding: 0.3rem;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

main .home-fondo .div-form form button:hover {
  color: gray;
  background-color: #303030;
}

main .home-fondo .div-peliculas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .home-fondo .div-peliculas .informacion-pelicula {
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: rgba(0, 0, 0, 0.808);
  color: gray;
  padding: 1rem;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.808);
          box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.808);
  margin: 1rem 0;
  width: 350px;
  min-height: 420px;
}

main .home-fondo .div-peliculas .informacion-pelicula h3 {
  text-transform: uppercase;
}

main .home-fondo .div-peliculas .informacion-pelicula p {
  margin-bottom: .5rem;
  text-transform: capitalize;
}

main .home-fondo .div-peliculas .informacion-pelicula .div-imagen {
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: .5rem;
}

main .home-fondo .div-peliculas .informacion-pelicula .div-imagen img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
}

main .home-fondo .div-peliculas .informacion-pelicula .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

main .home-fondo .div-peliculas .informacion-pelicula .botones button {
  background-color: red;
  color: white;
  border: none;
  padding: .5rem;
  width: 150px;
  margin: auto;
  cursor: pointer;
}

main .home-fondo .div-peliculas .informacion-pelicula .botones button:hover {
  background-color: darkred;
}

main .peliculas-fondo {
  min-height: 100vh;
}

main .peliculas-fondo .img-carrusel {
  height: auto;
  max-height: 90vh;
  width: auto;
  -o-object-fit: fill;
     object-fit: fill;
  opacity: .5;
}

main .peliculas-fondo .slide-text {
  color: darkgray;
}

main .peliculas-fondo .contenedor-div-peliculas-menu {
  margin: 3rem 2rem 2rem 4rem;
}

main .peliculas-fondo .contenedor-div-peliculas-menu h2 {
  color: darkgray;
  margin-bottom: .6rem;
}

main .peliculas-fondo .contenedor-div-peliculas-menu .div-peliculas-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .peliculas-fondo .contenedor-div-peliculas-menu .div-peliculas-menu .div-info-pelicula-menu {
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-content: center;
  min-width: 300px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  min-height: 300px;
}

main .peliculas-fondo .contenedor-div-peliculas-menu .div-peliculas-menu .div-info-pelicula-menu .img {
  margin-bottom: 0.6rem;
  height: 100%;
  position: relative;
}

main .peliculas-fondo .contenedor-div-peliculas-menu .div-peliculas-menu .div-info-pelicula-menu .img img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  cursor: pointer;
}

main .peliculas-fondo .contenedor-div-peliculas-menu .div-peliculas-menu .div-info-pelicula-menu .img .txt {
  visibility: hidden;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
  width: 100%;
}

main .peliculas-fondo .contenedor-div-peliculas-menu .div-peliculas-menu .div-info-pelicula-menu .img .txt h5 {
  text-transform: uppercase;
  color: darkgray;
  margin-bottom: 0.6rem;
}

main .peliculas-fondo .contenedor-div-peliculas-menu .div-peliculas-menu .div-info-pelicula-menu .img .txt button {
  background-color: red;
  color: white;
  border: none;
  padding: .5rem;
  width: 130px;
  margin: auto;
  cursor: pointer;
}

main .peliculas-fondo .contenedor-div-peliculas-menu .div-peliculas-menu .div-info-pelicula-menu .img .txt button:hover {
  background-color: darkred;
}

main .peliculas-fondo .contenedor-div-peliculas-menu .div-peliculas-menu .div-info-pelicula-menu:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 10px 0px black;
          box-shadow: 0 0 10px 0px black;
  border-radius: 10px;
  z-index: 2;
  background-color: #15171B;
}

main .peliculas-fondo .contenedor-div-peliculas-menu .div-peliculas-menu .div-info-pelicula-menu:hover .img img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

main .peliculas-fondo .contenedor-div-peliculas-menu .div-peliculas-menu .div-info-pelicula-menu:hover .txt {
  visibility: visible;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  text-align: center;
  color: darkgray;
  background-color: black;
  border-top: solid 2px black;
  margin-top: 2rem;
}

footer div {
  margin: 1.5rem;
}

footer div h5 {
  text-transform: uppercase;
}

footer .texto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
}

footer .texto ul {
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: (0.2fr)[3];
      grid-template-columns: repeat(3, 0.2fr);
  list-style: none;
  margin-bottom: 1rem;
}

footer .redes ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.2fr)[3];
      grid-template-columns: repeat(3, 0.2fr);
  place-content: center;
  list-style: none;
  margin-top: 1rem;
}

footer .redes ul li i {
  font-size: 1.2rem;
  background-color: #303030;
  padding: 8px;
  border-radius: 100%;
}

footer .app ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (0.2fr)[2];
      grid-template-columns: repeat(2, 0.2fr);
  place-content: center;
  list-style: none;
  margin-top: 1rem;
}

footer .app ul li i {
  font-size: 1.2rem;
  background-color: #303030;
  padding: 8px;
  border-radius: 100%;
}

@media (min-width: 992px) {
  * h2 {
    font-size: 1.6rem;
  }
  * p {
    font-size: 1rem;
  }
  header nav a {
    font-size: 1rem;
  }
  main .home-fondo h2 {
    font-size: 1.8rem;
  }
  main .home-fondo .div-peliculas .informacion-pelicula {
    max-width: 500px;
  }
  main .peliculas-fondo .contenedor-div-peliculas-menu .div-peliculas-menu {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer {
    -ms-grid-columns: 50% 25% 25%;
        grid-template-columns: 50% 25% 25%;
  }
}

@media (min-width: 1200px) {
  main .home-fondo .div-form form input {
    width: 300px;
    padding: .6rem;
    font-size: 1rem;
    outline: none;
  }
  main .home-fondo .div-form form button {
    font-size: 1rem;
    padding: .4rem;
  }
}
/*# sourceMappingURL=styles.css.map */